@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
.calendar {
   
    width: 100%; 
    height: auto;
    margin: auto;
    font-size: 13px;
  }
  
   .calendar td {
    text-align: center;
    vertical-align: center  ;
  }
  .calendar th {
    padding: 2%;
    color: #fff;
    background-color: #009eff;
    font-family: 'Segoe UI', sans-serif;  
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
.calendar .month{
    margin-bottom: 10px;
    padding: 3%;
    background-color: #fff;
    margin: 20px 0px;
    color: #009eff;text-align: center;
    font-size: 18px;  
    border:none;
} 
.calendar .weeks{
    text-align: center;
    width: 3%;
    height: 80px;
    padding: 10px 0px 0px 5px;
    transition: all 0.4s;
    margin-bottom: 2%;
}
.calendar .days{ 
  border-radius: 5px;
  border: 1px solid rgb(165, 161, 161);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.calendar .sun{
  background-color:#ffe7e7;
}
.calendar .sat{  
  background-color: #ffe7e7;
}
.calendar .days td{  
  border: 1px solid rgb(165, 161, 161);
}
.calendar .week th:first-child{
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
.calendar .week th:last-child{
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
 .calendar .days:last-child{ 
   border-top-right-radius: 10px;
   border-bottom-right-radius: 15px;
}
.calendar .days:first-child{ 
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
} 
.calendar .space{
    height: 5px;
}
  .calendar td{  
    padding: 0.5% 2% 0% 2%;
    cursor: pointer;
    width: 40px;
  }

  .calendar td:hover{
  background-color: rgba(0, 158, 255, 0.4) ;
  cursor: pointer;
  }
.month{
    border-radius: 0px;
    margin-top: 2%;
    padding: 2%;
}
  .date {
    font-size: 16px;
  }
  .calendar ul {
    height: 20px;
    width: 40px;
    list-style-type: none;
    padding: 0px;
    margin: 0%;
    margin-left: 30%;
    text-align: center;
    color: #009eff;
  }
  .calendar .activee{
    background-color: rgba(0, 158, 255, 0.4);
  }
  .event{
    padding-top: 1%;
    height: 100%;
  }
  .eve{ 
    padding-bottom: 0%; 
    height:240px; 
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #A7A7A7;  
    border-radius: 5px; 
  }


  .eva{
    padding-top: 21%;
    height: 100%;
  } 
  .eve ol{
    padding-left: 0px;
  }
  .event ul{
    list-style : none;
    text-align: left;
    margin: 0% 0%;
    padding-left: 0%;
  }
  .event ul li{
    display: block;
    padding: 5%;
    font-size: 1px;
    margin: 2%; 
    border: 1px solid #a7a7a7;
    border-radius: 5px;
  }
  .event .indicators ul,.event .indicators  li{ 
    display: list-item;  
    font-size: 16px;
    margin: auto;
    border: none; 
    padding: 0%;
  }
  .event .indicators  {  
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    width: 99.5%;
    margin: 2px;
    margin-bottom: 2%;
  }
  .event .indicators li::before {
    content: "◙";  
    display: inline-block; 
    width: 1em;
    margin-left: 1em
  }
  .event ul li .publicHoliday {
    display:flex;
    height:100%;
    width:1px; 
    border:2px solid #eb5353;
    border-radius: 5px;
    margin:0px 
  } 
  .event ul li .event {
    display:flex;
    height:100%;
    width:1px; 
    border:2px solid #009eff;
    border-radius: 5px;
    margin:0px 
  } 
  .event ul li .birthday {
    display:flex;
    height:100%;
    width:1px; 
    border:2px solid #FFC14E;
    border-radius: 5px;
    margin:0px 
  } 
  .event ul li .others {
    display:flex;
    height:100%;
    width:1px; 
    border:2px solid #808080;
    border-radius: 5px;
    margin:0px 
  } 
  .event ul li .title { 
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;  
    color: #009eff;
  } 
  .event ul li .date { 
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px; 
    font-weight: 600; 
    color: #707070;
  } 
  .event .evenrHeader{
    border: 1px solid #009eff;
    background-color: #009eff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 5%;
    font-weight: 600;
  }
  .event .eventHeader{
    border: 1px solid #009eff;
    background-color: #009eff;
    border-radius: 5px;
    color: #fff;
    width: 99.5%;
    margin-top: -2px;
    margin-left: 0.5%;
    margin-bottom: 3%;
    text-align: center;
    padding: 9% 6%; 
  }
  .event .evenHeader{
    border: 1px solid #009eff;
    background-color: #009eff;
    border-radius: 5px;
    color: #fff;
    width: 99.5%;
    margin-top: -2px;
    margin-left: 0.5%;
    margin-bottom: 1%;
    text-align: center;
    padding: 4%; 
  }
  .event .evenHeader:Hover{ 
    background-color: #009eff; 
    color: #fff;
  }
    .event .eventHeader1{  
    border: 1px solid #009eff;
    background-color: #009eff;
    border-radius: 5px;
    color: #fff;
    width: 99.5%;
    margin-top: -2px;
    margin-left: 0.5%;
    margin-bottom: 1%;
    text-align: center;
    padding: 4.8% 6%; 
  }
  .event .eventHeader:hover{
    border: 1px solid #009eff;
    color: #fff;
    background-color: #009eff; 
  }
  
  .clear{
    padding: 0%;
    margin: 0%;
    height: 10px;
    justify-content: space-between;
    margin-left: 0%;
  }
  .clear .left{
    color: #fff;
    height: 44px;
    width: 44px;
    background-color: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.30000001192092896px solid #a7a7a7;
    border-radius: 3px;  
    margin: 40% 40% 40% 18%; 
    position: relative; 
    z-index: 1; 
  }
  .clear .right{
    height: 44px;
    width: 44px; 
    color: #fff;
    text-align: center;
    background-color: none; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.30000001192092896px solid #a7a7a7;
    margin-top: 40%;
    border-radius: 3px;
    position: relative; 
    z-index: 1;
  }
  
  .clear .left:hover{
    color: #fff;
    background-color: none;
    border: 1px solid #a7a7a7; 
    position: relative;
  }
  .clear .right:hover{
    color: #fff;
    background-color: none; 
    border-radius: 4px; 
    border: 1px solid #a7a7a7; 
    position: relative;
  }  

  
@media (max-width: 576px) {
  .calendar th{
    font-size: 0.6rem;
  } 
  .clear .left{ 

    width: 40px;
    color: #fff;
    background-color: #fff;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    margin: 0%; 
  }
  .clear .right{
    width: 40px;
    color: #fff;
    background-color: #fff;
    margin: 0%;
    border-radius: 4px; 
    border: 1px solid #a7a7a7; 
    position: relative; 
    z-index: 1;
    margin-left: 85%;
    margin-top: -70px;
  } 
  .empInfo{
    width: 95%;
    height: 660px !important;
  } 
  .event{ 
    margin-top: 50px;
  }
  .calendar {
    padding: 0%;
    width: 100% !important;   
    margin: 0%;
  } 
  .event ul li .event {
    display:flex;
    height:100%; 
    width: 100% !important;
    border:2px solid #009eff;
    border-radius: 5px;
    margin:0px 
  } 
  .event ul li .birthday {
    display:flex;
    height:100%; 
    width: 100% !important;
    border:2px solid #FFC14E;
    border-radius: 5px;
    margin:0px 
  } 
  .event ul li .others {
    display:flex;
    height:100%; 
    width: 100% !important;
    border:2px solid #808080;
    border-radius: 5px;
    margin:0px 
  } 
}


/* custom scrollbar  */
/* width */
.eve::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.eve::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 10px;
}
 
/* Handle */
.eve::-webkit-scrollbar-thumb {
  background: #009eff; 
  border-radius: 5px;
}

/* Handle on hover */
.eve::-webkit-scrollbar-thumb:hover {
  background: #009eff; 
}
 